body {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	margin: 0;
	padding: 0;
}

.container{
	background: rgb(175,175,175);
	background: radial-gradient(circle, rgba(175,175,175,1) 0%, rgba(198,198,198,1) 100%);

	margin: 200px ;
	margin-left: 50px;
	padding: 60px 20px;


}